.header {
  padding-top: 40px;
  background: #ed5928 url("../images/header-bg.jpg") no-repeat left bottom;
  background-size: cover;
}

.header > .wrap {
  height: 350px;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
}

.header-cite {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
}

.header-inner {
  background-color: rgba(211, 67, 27, 0.5);
}

.header-inner .logo {
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
  opacity: 0.1;
}

.date-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 35px 0;
}

.date-wrap time {
  display: block;
  margin-left: 40px;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.date-wrap .icon {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 600px) {
  .header > .wrap {
    height: 250px;
  }

  .wrap {
    padding: 0 20px;
  }

  .header {
    padding-top: 20px;
  }

  .header-cite {
    font-size: 25px;
  }

  .header-inner .logo {
    right: 20px;
  }

  .btn-icon img {
    width: 30px !important;
  }

  .date-wrap time {
    margin-left: 20px;
    font-size: 17px;
  }

  .date-wrap .icon {
    width: 20px;
    height: 20px;
  }
}
