.main {
  display: block;
  padding: 20px 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.106) transparent;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
  min-height: 120px;
  max-height: 500px;
}

.wrap > p {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin-top: 40px;
}

.task-list {
  max-height: 800px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.align-right {
  padding-top: 30px;
  margin-top: auto;
  text-align: right;
}

.check-flag-label {
  width: 90%;
  overflow-x: scroll;
}

.hours-box {
  text-align: center;
}
