.main {
  display: block;
  padding: 20px 0;
  height: 500px;
}

.task-list {
  max-height: 800px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.align-right {
  padding-top: 30px;
  margin-top: auto;
  text-align: right;
}

.check-flag-label {
  width: 90%;
  overflow-x: scroll;
}

.hours-box {
  text-align: center;
}

.delete-btn {
  position: absolute;
}
