/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin.woff") format("woff");
  font-style: normal;
}

/*--------------------------------------------------------------
## Reset
--------------------------------------------------------------*/

* {
  width: 100%;
}

body,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  border: 0;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

button:active,
button:focus,
input:focus {
  outline: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.page-wrap {
  width: 100%;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
  padding: 15px 35px;
  transition: 350ms ease-in-out;
  background-color: #ed5928;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.btn:hover {
  background-color: #d3431b;
}

.btn-icon {
  display: block;
  cursor: pointer;
}

.btn-icon .icon {
  width: 45px;
  height: 45px;
  transform: scale(1);
  backface-visibility: hidden;
  transition: 350ms ease-in-out;
}

.btn-icon .icon:hover {
  transform: scale(1.1);
}

.ant-message-notice-content {
  width: 200px;
  font-size: 12px;
}

.anticon {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .btn {
    padding: 15px 25px;
    font-size: 18px;
  }
}
